{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ event.name }}</h1>
{# <img src="{{ event.picture }}" alt=""> #}
<p>Evenement le {{ event.date | date('d M Y h:s')}}</p>
<p>{{ event.content }}</p>
{% endblock %}
