{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
<div class="content">
    <div class="form-container">
        <form action="{{ path('login' ) }}" method="post">
        <h1>Connexion</h1>
            <div class="form-row">
                <label for="email">Email</label>
                <input type="text" id="email" name="_username" value="">
            </div>
            <div class="form-row">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="_password">
            </div>
            <div class="form-row">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me">
                    Se souvenir de moi
                </label>
            </div>

            {# Token secu #}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {% if error %}
                <ul class="form-error">
                    <li>{{ error.messageKey | trans(error.messageData, 'security') }}</li>
                </ul>
            {% endif %}
            
            
            <div class="helper flex justify-between">
                <div class="">
                    <a href="{{ path('register') }}" class="small">Vous n'avez pas de compte</a>
                </div>
                <div class="">
                    <a href="" class="small">Mot de passe oublié</a>
                </div>
            </div>
            <div class="separator mb-20"></div>
            <div class="action p20">
                <button class="btn btn-primary">Connection</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
