<footer>
  <div class="copyright">
    <p>Copyright &copy; - 2024</p>
    <p>Created by <a href="" target="_blank">Crea-Mania</a></p>
  </div>
  <div class="footer-nav">
    <ul>
      <li><a href="">Article</a></li>
      <li><a href="">Agenda</a></li>
      <li><a href="">Mention Legale</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
  <div class="social">
    <ul>
      <a href="" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    </ul>
  </div>
</footer>