<footer class="d-flex justify-content-between align-items-center p-3">
    <p>Copyright &copy; - 2024</p>
    <ul>
      <li><a href="">Mention légale</a></li>
      <li><a href="{{ asset('build/pdf/statutsAssoc.pdf')}}" target="_blank">Statut de l'association</a></li>
    </ul>
    <ul>
      <a class="fs-3 me-3" href="https://www.facebook.com/fayence.avenir/?paipv=0&eav=AfaEhDh1qxHhTG6U4y-4edZIgv7NiCwNYlKGf9rgmSoGv5opgXvX9q9j5qBleWFq5wU&_rdr" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a class="fs-3" href="" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </ul>
</footer>