<footer class="">
  <div class="copyright">
    <p>Copyright &copy; - <a href="https://www.crea-mania.com/" target="_blank">Crea-mania</a> 2024</p>  
  </div>
  <ul class="plan">
    <li><a href="">Articles</a></li>
    <li><a href="">Agenda</a></li>
    <li><a href="">Nous contacter</a></li>
    <li><a href="">Rejoindre l'association</a></li>
    <li><a href="">Mentions légales</a></li>
  </ul>
  <ul class="social">
    <li><a href="https://www.facebook.com/fayence.avenir/?paipv=0&eav=Afbr0l5xOiVyMB2YNpxchf78PnK88bRHxVZh1gMKwt-jGeCFn4svDy13CQ9UZfKl7O0&_rdr" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
  </ul>
</footer>