<header class="">
  <div class="logo">
    <img src="{{ asset('build/images/logo.png')}}" alt="logo fayence avenir">
  </div>
  <ul class="nav">
    <li><a href="">Articles</a></li>
    <li><a href="">Agenda</a></li>
    <li><a href="">Adhérent</a></li>
    <li><a href="">A propos</a></li>
  </ul>
  <div class="action">
    <a href="" class="btn">Inscription</a>  
    <a href="" class="btn">Connection</a>
    <a href="" class="btn">Deconnection</a>
    <a href="" class="btn">Profil</a>
  </div>
</header>