.btn {
  box-shadow: var(--shadow);
  padding: 1rem 1.5rem;
  border-radius: 25px;
  text-transform: uppercase;
  transition: opacity 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &-primary {
    background: white;
    border: 1px solid;
    color: var(--primary);
  }
  &-secondary {
    border: 1px solid white;
    color: white;
  }
  &-small {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 400;
  }
  &-danger {
    color: white;
    background: var(--danger);
  }
  &-warning {
    color: white;
    background: var(--warning);
  }
}
