header {
  background: var(--primary);
  color: var(--light);
  box-shadow: var(--shadow);

  a {
    color: var(--light);
    font-size: 2.5rem;
    margin-right: 0.5em;
  }
  .header-top {
    padding: 1rem 2rem;
    width: 100%;
    box-shadow: var(--shadow);
    .header-logo {
      img {
        height: 10rem;
      }
    }
    .header-search {
      i {
        margin-right: 0.5rem;
      }
      input {
        padding: 0.5rem;
        border-radius: var(--radius);
        font-family: var(--font-text);
        width: 40rem;
      }
    }
  }
  .header-bottom {
    padding: 0.5rem 2rem;
    background: var(--light);
    a {
      color: var(--text);
    }
  }
}
