body {
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
.content {
  max-width: var(--max-width);
  padding-top: 2rem;
  // padding: 20rem;
}

.separator {
  border: 1px solid var(--gray-light);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.avatar {
  height: 100px;
  border-radius: 50%;
}
.small {
  font-size: 1.2rem;
  font-style: italic;
}
.accent {
  font-weight: 700;
  font-style: italic;
  color: var(--primary);
}

.count {
  color: white;
  background: red;
  border-radius: 100%;
  padding: 0.5rem 1rem;
}

.author {
  color: var(--primary);
  font-weight: 700;
}

.accent {
  font-size: 1.7rem;
  a {
    color: var(--primary);
  }
}

.category {
  padding: 1rem 1.5rem;
  border-radius: 25px;
  background: var(--primary);
  color: white;
}

.bold {
  font-weight: 700;
}
