* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--text);
  text-decoration: none;
  font-family: var(--font-text);
  transition: all 0.3s;
  &:hover {
    opacity: 0.8;
  }
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

p {
  font-family: var(--font-text);
}

// img {
//   max-width: 100%;
//   height: auto;
// }
