:root {
  --font-text: "Open Sans", sans-serif;
  --font-title: "Libre Baskerville", serif;
  --text: #333;
  --text-light: white;
  --radius: 5px;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --gray: #bdc3c7;
  --gray-light: #f1f2f6;
  --gray-dark: #95a5a6;
  --border: 1px solid var(--gray);
  --bg-light: #f5f6fa;
  --success: #2ecc71;
  --danger: #e74c3c;
  --warning: #e67e22;
  --bg-primary: #487eb0;
}
