{% extends 'base.html.twig' %}



{% block body %}
<h1 class="my-5 text-center">l'Association</h1>
<div class=" col-10 mx-auto">
  <div class="mb-3 pb-3">
    <p>Bienvenue sur Fayence-Avenir, une association loi 1901 dédiée à dynamiser notre territoire en encourageant l'expression collective et individuelle.<br> Nous nous engageons à informer, écouter et rencontrer les habitants, tout en facilitant leur participation à des débats et sondages sur des sujets touchant leur quotidien et leur vision de la vie communale et intercommunale.<br>En rejoignant notre association, vous pourrez contribuer activement à des discussions enrichissantes, partager vos idées et développer des liens constructifs au sein de notre communauté.<br> Ensemble, construisons une association dynamique et participative, où chaque voix compte. Découvrez nos différentes rubriques et participez à l’enrichissement de notre plateforme par vos réactions, connaissances et souhaits.</p>
  </div>
  
  <div class="text-start my-3">
    <div class="py-3">
      <h2>Economie</h2>
      <p>Dans nos articles, nous explorons l'aspect économique du Pays de Fayence à travers plusieurs thèmes clés. Découvrez les dynamiques de l'économie locale, l'importance de l'agriculture et son impact sur notre région, le rôle des entreprises et du commerce dans la vitalité économique, et l'animation du marché local. Nous aborderons également le Plan Local d'Urbanisme (PLU) et son influence sur le développement économique et territorial. Rejoignez-nous pour une analyse approfondie et engageante de ces sujets essentiels à notre communauté.</p>
    </div>
    <div class="py-3">
      <h2>Jeunesse</h2>
      <p>Dans nos article, nous mettons en lumière l'univers de la jeunesse du Pays de Fayence en explorant divers aspects essentiels à leur développement. Découvrez les initiatives pour la petite enfance, les structures et projets des écoles locales, ainsi que les aires de jeux qui offrent des espaces sûrs et amusants pour les enfants. Nous abordons également les installations sportives, comme la piscine, et l'importance des associations sportives qui encouragent une vie active et saine. Plongez avec nous dans cet examen approfondi de tout ce qui touche à la jeunesse et à son épanouissement dans notre région.</p>
    </div>
    <div class="py-3">
      <h2>Médico-Social</h2>
      <p>Dans nos articles, nous explorons les thématiques médico-sociales qui touchent le Pays de Fayence. Découvrez les services de santé disponibles, les initiatives et les infrastructures dédiées à nos seniors, ainsi que le rôle crucial du Centre Communal d'Action Sociale (CCAS). Nous vous informons également sur France Services, un dispositif visant à faciliter l'accès aux services publics pour tous les habitants. Rejoignez-nous pour une analyse détaillée de ces sujets vitaux pour le bien-être de notre communauté.</p>
    </div>
    <div class="py-3">
      <h2>Environnement</h2>
      <p>Dans nos articles, nous abordons les thèmes cruciaux liés à l'environnement et au cadre de vie du Pays de Fayence. Plongez dans des sujets tels que l'urbanisme et la sécurité, la gestion de l'eau, et la transition énergétique. Nous mettons également en lumière l'importance des espaces verts et de la végétalisation, la gestion des déchets, et les solutions de transport durable. Explorez avec nous ces enjeux fondamentaux pour un cadre de vie sain et durable.</p>
    </div>
    <div class="py-3">
      <h2>Tourisme</h2>
      <p>Dans nos articles, nous vous invitons à découvrir les richesses touristiques du Pays de Fayence. Nous mettons en avant les offices de tourisme, les divers hébergements disponibles, et les options de restauration locales. Vous trouverez également des informations utiles et des communications sur les attractions de la région. Enfin, nous abordons la diffusion publicitaire à l'échelle nationale et internationale pour promouvoir notre belle région. Rejoignez-nous pour explorer tout ce qui fait du Pays de Fayence une destination incontournable.</p>
    </div>
    <div class="py-3">
      <h2>Culture et animation</h2>
      <p>Dans nos articles, nous vous invitons à plonger dans la vie culturelle et les animations du Pays de Fayence. Découvrez les bibliothèques, les cinémas, et les médiathèques qui enrichissent notre communauté. Explorez les musées et participez aux nombreuses manifestations culturelles et fêtes traditionnelles. Nous vous présentons également une variété d'activités ludiques, ainsi que les salons et festivals qui rythment la vie locale. Rejoignez-nous pour un tour d'horizon complet de la culture et des animations qui font vibrer notre région.</p>
    </div>
  </div>
</div>
{% endblock %}
