{% extends 'base.html.twig' %}



{% block body %}
<h1 class="my-5 text-center">l'Association</h1>
<div class=" col-10 mx-auto">
  <div class="mb-3 pb-3">
    <p>Bienvenue sur Fayence-Avenir, une association loi 1901 dédiée à dynamiser notre territoire en encourageant l'expression collective et individuelle.<br> Nous nous engageons à informer, écouter et rencontrer les habitants, tout en facilitant leur participation à des débats et sondages sur des sujets touchant leur quotidien et leur vision de la vie communale et intercommunale.<br>En rejoignant notre association, vous pourrez contribuer activement à des discussions enrichissantes, partager vos idées et développer des liens constructifs au sein de notre communauté.<br> Ensemble, construisons une association dynamique et participative, où chaque voix compte. Découvrez nos différentes rubriques et participez à l’enrichissement de notre plateforme par vos réactions, connaissances et souhaits.</p>
  </div>
  
  <div class="text-start my-3">
    <div class="py-3">
      <h2>Economie</h2>
      <p>Dans nos articles, nous pourrons explorer l'aspect économique du Pays de Fayence à travers plusieurs thèmes clés. Découvrez les dynamiques de l'économie locale, l'importance de l'agriculture et son impact sur notre territoire, l’impact des entreprises et du commerce dans la vitalité économique, et l'animation du marché local. Nous aborderons également le Plan Local d'Urbanisme (PLU) et son influence sur le développement économique et territorial. Rejoignez-nouspour apporter votre analyse sur ces thèmes à notre communauté.</p>
    </div>
    <div class="py-3">
      <h2>Jeunesse</h2>
      <p>Nous voulons mettre en lumière l'univers de la jeunesse du Pays de Fayence en explorant divers aspects essentiels à son développement. Nous vous informerons des initiatives pour la petite enfance, des structures et projets des écoles locales. Nous irons identifier les différentes aires de jeux pour les enfants, voir leurs qualités, leurs défauts et leur fréquentation. Nous aborderons également les installations sportives et nous nous rapprocherons des diverses associations sportives pour connaître leur ressenti sur la jeunesse en Pays de Fayence. Plongez avec nous dans cet examen approfondi de tout ce qui touche à la jeunesse et à son épanouissement sur notre territoire.</p>
    </div>
    <div class="py-3">
      <h2>Médico-Social</h2>
      <p>Découvrez des services de santé disponibles ou à venir, des initiatives individuelles ou collectives, des infrastructures dédiées à nos seniors, ainsi que le rôle crucial du Centre Communal d'Action Sociale (CCAS). Nous vous informons également sur France Services, un dispositif visant à faciliter l'accès aux services publics pour tous les habitants du Pays de Fayence. Nous comptons sur vos retours d’expérience et vos avis sur ces sujets vitaux pour le bien-être de notre communauté</p>
    </div>
    <div class="py-3">
      <h2>Environnement</h2>
      <p>Ce thème conditionne ce qu’il est courant d’appeler le cadre de vie. Vous conviendrez avec nous qu’il est essentiel pour le Pays de Fayence! Vous pourrez faire vôtres des sujets tels que l’urbanisme, la sécurité, la gestion de l'eau, et la transition énergétique en nous apportant vos connaissances et vos points de vue. Nous souhaitons mettre en lumière l'importance des espaces verts et de la végétalisation, la gestion des déchets, et les solutions de transport durable. Explorez avec nous ces enjeux fondamentaux pour un environnement sain et durable.</p>
    </div>
    <div class="py-3">
      <h2>Tourisme</h2>
      <p>Nous aurions pu classer le tourisme dans les différentes rubriques telles que l'économie, l'environnement ou encore la culture et les loisirs. Cependant, nous avons choisi de lui consacrer un chapitre à part entière. En effet, toutes les catégories mentionnées précédemment peuvent être abordées sous l'angle du tourisme. Une autre raison nous a incités à le traiter séparément, c’est sa nature controversée et clivante. Ce sujet sera l’occasion de débattre et chacun pourra légitimement argumenter ses convictions. Nous vous invitons donc à partager vos opinions. À vos claviers !</p>
    </div>
    <div class="py-3">
      <h2>Culture et animation</h2>
      <p>En regroupant l'animation et la culture, nous soulignons leur interdépendance et l'importance de l'animation dans la valorisation et la diffusion culturelle. L'animation, sous différentes formes telles que festivals, spectacles et expositions, met en valeur les traditions, les coutumes et l'histoire d'une région, d’un territoire. Elle joue un rôle essentiel en promouvant et préservant la culture, en sensibilisant et éduquant, en favorisant le tourisme culturel, en renforçant l'identité culturelle et en permettant une diffusion à grande échelle. Rejoignez-nous pour partager vos goûts et vos envies et contribuer à l'épanouissement culturel du Pays de Fayence.</p>
    </div>
  </div>
</div>
{% endblock %}
