{% extends 'base.html.twig' %}



{% block body %}
<h1 class="text-center my-5">l'Association</h1>
<div class="">
  <p>FAYENCE-AVENIR est une association loi 1901 dont la volonté est de mobiliser les habitants de notre territoire et favoriser l’expression collective et individuelle.</p>
  <p>Notre dessein est d'informer, écouter, rencontrer, permettre à chacun de participer à des débats, des sondages, d’exprimer ses opinions sur des problématiques en lien direct avec son quotidien et sa vision de la vie communale et intercommunale.</p>
  <p>Nous croyons fermement que les enjeux de proximité sont d'une importance capitale pour le développement et l'épanouissement de chacun.</p>
  <p>En rejoignant FAYENCE AVENIR, vous aurez l'opportunité de contribuer à la mise en place de discussions informatives, de partager vos idées et développer des liens positifs et constructifs .</p>
  <p>Ensemble nous pouvons ambitionner une association dynamique et participative.</p>
  <p>Plusieurs rubriques vous sont proposées. Nous allons les enrichir d’informations auxquelles vous pourrez réagir, partager vos connaissances et exprimer vos souhaits</p>
  <div class="d-flex flex-wrap gap-3 justify-content-center my-4">
    <div class="p-3 col-6 col-md-4">
      <h3>1 - Economie</h3>
      <ul class='theme-list'>
        <li>Agriculture</li>
        <li>Entreprise</li>
        <li>Commerce</li>
        <li>Le Marché</li>
        <li>Le PLU</li>
      </ul>
    </div>
    <div class="p-3 col-6 col-md-4">
      <h3>2 - Jeunesse</h3>
      <ul class='theme-list'>
        <li>Petite enfance</li>
        <li>Ecoles</li>
        <li>Aires de jeux</li>
        <li>Piscine</li>
        <li>Sport et associations sportives</li>
      </ul>
    </div>
    <div class="p-3 col-6 col-md-4">
      <h3>3 - Médico-social</h3>
      <ul class='theme-list'>
        <li>La Santé</li>
        <li>Nos séniors</li>
        <li>Le CCAS</li>
        <li>France Services</li>
      </ul>
    </div>
    <div class="p-3 col-6 col-md-4">
      <h3>4 - Environnement</h3>
      <ul class='theme-list'>
        <li>Cadre de vie - Urbanisme</li>
        <li>Sécurité</li>
        <li>Eau</li>
        <li>Transition énergétique</li>
        <li>Espaces verts / Végétalisation</li>
        <li>Déchets</li>
        <li>Transports</li>
      </ul>
    </div>
    <div class="p-3 col-6 col-md-4">
      <h3>5 - Tourisme</h3>
      <ul class='theme-list'>
        <li>Offices de tourisme</li>
        <li>Hébergements</li>
        <li>Restauration</li>
        <li>Informations / Communications</li>
        <li>Diffusion publicitaire nationale et internationale</li>
      </ul>
    </div>
    <div class="p-3 col-6 col-md-4">
      <h3>6 - Culture-Animation</h3>
      <ul class='theme-list'>
        <li>Blibliothèques</li>
        <li>Cinémas</li>
        <li>Médiathèques</li>
        <li>Musées</li>
        <li>Manifestations culturelles</li>
        <li>Fêtes traditionnelles</li>
        <li>Activités ludiques</li>
        <li>Salons</li>
        <li>Festivals</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
