{% extends 'base.html.twig' %}

{% block body %}
<div>
  <h1>Page profil user</h1>
<a href="">Mes articles liker</a>
<a href="">Evenemnt qui m'interesse</a>
<a href="">Modifier mot de passe</a>
<a href="">Modifier photo de profil</a>
</div>

<br>
<div>
<p>{{ firstname }} {{ lastname }}</p>
<img src="{{ asset(picture) }}" alt="photo de profil">
</div>
{% endblock %}

