{% extends 'base.html.twig' %}

{% block body %}
<div class="content b1">
  <div class="hero flex row">
    <div class="hero-img b4">
      <img src="{{ asset('build/images/hero.jpeg') }}" alt="">
    </div>
    <div class="hero-content b3">
      <h1>Fayence Avenir</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, officiis architecto quae sunt quia doloremque neque asperiores minus quas. Odio explicabo pariatur perferendis! Recusandae rem exercitationem voluptas minima harum quisquam.</p>
      <a href="" class="btn">En savoir plus</a>
    </div>
  </div>
</div>
    
</div>
{% endblock %}
