{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}

<div class="administration">
	<div class="sidebar">
		<ul>
			<li><a href="#article">Article</a></li>
			<div class="separator"></div>
			<li><a href="">Evènements</a></li>
		</ul>
	</div>
	<div class="content-edit">
		<div class="article-edit">
			<h2 id="article">Article</h2>
			<div class="article-list">
				{% for article in articles %}
					<div class="ctn-article">
							<div class="article-img">
								<img src="{{ article.picture }}" alt="">
							</div>
							<div class="article-content">
								<h3>{{ article.title }}</h3>
								<div class="separator"></div>
								<p>{{ article.content | slice(0, 50|trim) ~ '...' }}</p>
								<div class="action">
									<a href="" class="btn btn-primary btn-small">Show</a>
									<a href="" class="btn btn-warning btn-small">Editer</a>
									<a href="{{ path('article_delete', {id: article.id}) }}" class="btn btn-danger btn-small">Supprimer</a>
								</div>
							</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="event-edit"></div>
		<div class="user-edit"></div>
	</div>
</div>

{% endblock %}
