{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}
	<div class="content b1">
		<h1>Panneau d'administration</h1>
		<div class="divUnamed flex column b1">
			<div class="sidebar b2">
				sidebar
			</div>
			<div class="administration b3">
				administration
			</div>
		</div>
		
	</div>

{% endblock %}
