{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

<form action="">
  <div class="ctn-form">
    <label for="">Titre</label>
    <input type="text" name="" id="">
  </div>
   <div class="ctn-form">
    <label for="">Contenu</label>
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
  <div class="ctn-action">
    <button>Valider</button>
  </div>
  
</form>
{% endblock %}